@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&family=Rubik+Scribble&display=swap");
* {
  margin: 0;
  font-family: sans-serif;
}
body {
  background-color: rgb(45, 45, 45);
  overflow-x: hidden;
}

.game {
  height: 70px;
  width: 200px;
  background-color: white;
  border-radius: 7px;
  border: 1px solid gray;
  margin-bottom: 10px;
  overflow: hidden;
}
.player {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.playerName {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(219, 219, 219);
  color: black;
  cursor: pointer;
  transition: all 0.2s ease;
}
.playerName:hover {
  background-color: rgba(0, 128, 0, 0.3);
}
.setPlayersContainer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: rgb(45, 45, 45);
  z-index: 10;
}
.setPlayersContainer p {
  font-size: 1.5rem;
  margin: 10vh 0 2vh;
}

#noOfPlayer,
.countButton {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playerCount {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  width: 8rem;
  margin-bottom: 4vh;
  /* background-color: blue; */
}
.countButton {
  cursor: pointer;
  height: 100%;
  width: 30%;
  color: rgb(45, 45, 45);
  background-color: rgb(224, 224, 224);
  border-radius: 50%;
}
.setPlayers {
  margin-top: 1rem;
  width: 40%;
  min-height: 52vh;
  display: grid;
  justify-items: stretch;
  align-content: flex-start;
  grid-template-columns: repeat(2, 1fr);
  /* background-color: red; */
}
.playerInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: blue; */
  margin: 1.3rem 0;
}
.playerInput input {
  border: 1px solid gray;
  font-size: 1.1rem;
  border-radius: 8px;
  width: 60%;
  padding: 0.5rem 0.75rem;
  outline: none;
}

.versus {
  height: 0.06rem;
  width: 40px;
  background-color: rgb(182, 182, 182);
}
.upperBracket,
.lowerBracket {
  color: rgb(219, 219, 219);
  height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}
.upperBracket h1,
.lowerBracket h1 {
  font-size: 2.5rem;
  font-weight: bold;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upperGames,
.lowerGames {
  height: 62vh;

  margin-left: 2rem;
  display: flex;
  /* justify-content: space-around; */

  /* background-color: blue; */
}
.firstUpperBracket,
.secondUpperBracket,
.thirdUpperBracket,
.upperFinalBracket,
.firstLowerBracket,
.secondLowerBracket {
  height: 100%;
  /* background-color: yellow; */
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.2rem;
}
.first,
.second,
.third,
.upperFinal,
.lowerfirst,
.lowersecond,
.lowerthird,
.lowerforth,
.lowerfinal,
.grandFinal {
  margin-left: 2rem;
}
input[type="radio"] {
  -webkit-appearance: none;
}
p {
  text-align: center;
}
.second p {
  transform: translateY(300%);
}
.third p,
.upperFinal p,
.grandFinal p,
.lowersecond p,
.lowerthird p,
.lowerfinal p {
  transform: translateY(900%);
}

.numberPlayer {
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.generateButton {
  font-size: 1.2rem;
  padding: 0.6rem 1rem;
  border-radius: 10px;

  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  margin-left: 4rem;
}
.labelwinner {
  background-color: rgba(0, 128, 0, 0.3);
}
.labelloser {
  background-color: rgba(128, 0, 0, 0.3);
}

@media only screen and (max-width: 431px) {
  body {
    overflow-x: auto;
  }
  .upperBracket h1,
  .lowerBracket h1 {
    font-size: 1.7rem;
  }
  .game {
    height: 50px;
    width: 140px;
    margin-bottom: 0;
  }
  .playerName {
    font-size: 0.8rem;
  }
  .setPlayersContainer p {
    font-size: 0.2rem;
    margin: 3vh 0 2vh;
  }
  .setPlayers {
    margin-top: 2rem;
    width: 85%;
    min-height: 42vh;
  }
  .playerInput {
    margin: 0.9rem 0;
  }
  .playerInput input {
    font-size: 0.9rem;

    width: 100%;
  }
  .generateButtons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .generateButton {
    font-size: 0.9rem;
    margin-left: 0rem;
  }
}
